* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, .card, #today, #forecast {
  -webkit-text-stroke: 0.5px navy;
}

header {
  background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/new-history-forecast-bulk.png");
  height: 200px;
}

h1 {
  font-size: 54px;
}

h4 {
  font-size: 36px;
}

.mt-1, ul, li {
  color: navy;
}

body {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

html, body {
  display: flex;
	height: 100%;
	flex-direction: column;
  margin: 0;
}

img {
  height: 150px;
  width: 150px;
}

.card {
  color: white;
  background-color: lightslategray;
  display: block;
  padding: 20px 10px;
  margin: 30px 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
}

.card-title {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card-body {
  padding: 0;
}

.col-lg-12 {
  display: block;
  text-align: center;
}

.form-inline {
  display: block;
  text-align: center;
}

#today {
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

#five-title {
  color: white;
  text-align: center;
  font-size: 36px;
}

#name-div {
  font-size: 48px;
}

@media screen and (max-width: 600px) {
	header,
	.row {
		width: 100% !important;
	}
	.card-container {
		flex-direction: column !important;
		width: 100%;
	}
	.btn-lg {
		font-size: 10px !important;
	}
	.h1,
	h1 {
		font-size: 3.5rem !important;
	}
}