* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/new-history-forecast-bulk.png");
  height: 200px;
}

body {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

html, body {
  display: flex;
	height: 100%;
	flex-direction: column;
  margin: 0;
}

img {
  height: 150px;
  width: 150px;
}

.card {
  display: block;
  padding: 20px 10px;
  margin: 20px 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
}

.card-title {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.col-lg-12 {
  display: block;
  text-align: center;
}

.form-inline {
  display: block;
  text-align: center;
}

#today {
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

#five-title {
  color: white;
  text-align: center;
  font-size: 36px;
}

#name-div {
  font-size: 48px;
}
